<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Washing Machines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Machines.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>NewCi!</h1>
        </div>
        
    </header>

    <h1>Mesin Cuci Yang Tersedia</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Capacity</th>
                <th>Status</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machines %}
            <tr>
                <td>{{ machine[0] }}</td>
                <td>{{ machine[1] }}</td>
                <td>{{ machine[2] }}</td>
                <td>{{ machine[3] }}</td>
                <td>{{ machine[4] }}</td>
                <td>{{ machine[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
